@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scrolling-text {
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}
